doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="../pictures/HVJLogo.png", type="image/x-icon")
        title Harsh Vardhan Jain | Resume
        style 
            include ../style/styleResume.css
    body 
        iframe(src="../files/newResume.pdf", frameborder="0")#pdf 